
<div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10 w-full">
    <div class="flex w-full max-w-sm flex-col gap-6">
        <%= render "login_form" %>
    </div>
 </div>